body{
	background-color: #E1EBEF;
	text-align: center;
}

hr{
	margin-top: 50px;
	margin-bottom: 50px;
}
video{
	width: 50%;
	height: 50%;
	text-align: center;
}

@media(min-width: 320px){ video{
	width: 280px;
	height: 30%;
	text-align: center;	
}

@media(min-width: 425px){ video{
	width: 375px;
	height: 30%;
	text-align: center;	
}

@media(min-width: 768px){ video{
	width: 650px;
	height: 30%;
	text-align: center;	
}